    body {
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgba(0, 0, 0, 0.808);
        color: cornsilk;
    }
    
    img {
        width: 100%;
        height: 100%;
        border: none;
        -webkit-backface-visibility: hidden;
        /* Safari */
        backface-visibility: hidden;
        position: absolute;
        transform-style: preserve-3d;
    }
    
    #tablero .row {
        height: 120;
        margin: 0 10% 10 10%;
    }
    
    .girada {
        transform: rotateY(180deg);
    }
    
    .giro {
        transform: rotateY(180deg);
    }
    
    .giro-reves {
        transform: rotateY(-180deg);
    }
    
    .oculto {
        display: none;
    }
    
    .pareja-acertada {
        opacity: 0.5;
    }
    
    .encabezado {
        padding-top: 10;
        margin-bottom: 10;
    }
    
    h1 {
        vertical-align: middle;
        margin-left: 20;
    }
    
    .start {
        font-style: bolder;
        font-size: 25;
        height: 54;
        width: 180;
        margin-left: 10;
    }
    
    #estado {
        margin: 0 20 16 18;
    }
    
    #tiempo {
        text-align: right;
        margin: 0 60 16 0;
    }
    
    .alert {
        height: 50;
        vertical-align: middle;
        padding: 10;
    }
    
    .flip-card {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }